
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ede0d4;
    overflow-x: hidden;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #8b4513; 
    color: #fff;
    transition: height 0.3s ease-in-out;
}

.header:hover {
    height: 12vh;
}

.header .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header .button a {
    text-decoration: none;
}

.header .button a button {
    padding: 6px 15px;
    display: flex;
    border: none;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.header .button a button:hover {
    border-bottom: 2px solid #fff;
}

/* Title Container */
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 2rem;
    gap: 1rem;
    animation: fadeIn 1s ease-in-out;
}

.title-container img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    animation: zoomIn 1.5s ease-in-out;
}

.title-container h1 {
    font-size: 2rem;
    color: #8b4513; 
    animation: slideInLeft 1.5s ease-in-out;
}


.details {
    padding: 2rem;
    animation: fadeIn 1s ease-in-out;
}

.details h3 {
    text-align: center;
    color: #8b4513; 
    animation: slideInDown 1s ease-in-out;
}


.angles, .bullets, .specifications {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 8px;
    background-color: #d2b48c; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideInLeft 1s ease-in-out;
}

.angle-container, .bullet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #f4a261; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease-in-out;
    animation: slideInRight 1s ease-in-out;
}

.angle-container:hover, .bullet-container:hover {
    border: 2px solid #8b4513; 
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image-container .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.bullet-container:hover .hover-image {
    opacity: 1;
    z-index: 1;
}

.bullet-container:hover img {
    opacity: 0;
    z-index: 0;
}


.specifications {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.specifications h3 {
    color: #8b4513; 
    animation: slideInLeft 1s ease-in-out;
}

.materials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: slideInRight 1s ease-in-out;
}


footer {
    background-color: #8b4513; 
    color: #fff;
    text-align: center;
    padding: 2rem;
    border-top: 4px solid #d2b48c; 
    transition: padding 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {
    .angle-container, .bullet-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container, .description-container {
        width: 90%;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
